@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --font-color: #ffffff;
  --secondary-color: #3b1a04;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
body {
  background: url(Image/victor\ camera.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 13%;
}
header .logo {
  font-size: 36px;
  font-weight: 800;
  color: var(--font-color);
}

header a {
  font-size: 20px;
  text-decoration: none;
  color: var(--font-color);
  padding: 18px;
}
header a:hover {
  color: var(--font-color);
}
.home {
  height: 450px;
  display: flex;
  align-items: center;
  padding: 0px 13%;
}
.home-content {
  max-width: 510px;
}

.home-content h1 {
  font-size: 55px;
  width: 800;
  color: var(--font-color);
}
.home-content h3 {
  font-size: 26px;
  color: var(--font-color);
}
.home-content p {
  font-size: 16px;
  color: var(--font-color);
}
.work-section {
  margin-top: 150px;
  background-color: bisque;
}
.work-header h1 {
  padding-top: 80px;
  text-align: center;
}
.work-header p {
  padding-top: 30px;
  text-align: center;
}
